apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins-jcasc-config
  namespace: jenkins
data:
  jenkins.yaml: |
    jenkins:
      systemMessage: "Jenkins configured using JCasC"
      numExecutors: 5
      mode: NORMAL
      scmCheckoutRetryCount: 3

      securityRealm:
        local:
          allowsSignup: false
          users:
            - id: "admin"
              password: "${ADMIN_PASSWORD}"
      authorizationStrategy:
        loggedInUsersCanDoAnything:
          allowAnonymousRead: false

    unclassified:
      location:
        url: "http://localhost:8080/"
        adminAddress: "admin@localhost"
