apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins-jcasc-config
  namespace: jenkins
data:
  jenkins.yaml: |
    jenkins:
      systemMessage: "Jenkins configured automatically using JCasC"
      numExecutors: 2
      mode: NORMAL
      scmCheckoutRetryCount: 2
      authorizationStrategy:
        loggedInUsersCanDoAnything:
          allowAnonymousRead: true
      securityRealm:
        local:
          allowsSignup: false
          users:
            - id: ${ADMIN_USER:-admin}
              password: ${ADMIN_PASSWORD}

    security:
      scriptApproval:
        approvedSignatures:
        - "method hudson.model.User getId"
        - "staticMethod jenkins.model.Jenkins getInstance"
      globalJobDslSecurityConfiguration:
        useScriptSecurity: false
      apiToken:
        creationOfLegacyTokenEnabled: true
        tokenGenerationOnCreationEnabled: true
        usageStatisticsEnabled: true
      downloadSettings:
        useBrowser: false
      sSHD:
        port: -1

    unclassified:
      location:
        url: "http://localhost:8080/"
      globalLibraries:
        unclassified: []