apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "2"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"jenkins"},"name":"jenkins-deployment","namespace":"jenkins"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"jenkins"}},"template":{"metadata":{"labels":{"app":"jenkins"}},"spec":{"containers":[{"env":[{"name":"JAVA_OPTS","value":"-Djenkins.install.runSetupWizard=false"},{"name":"CASC_JENKINS_CONFIG","value":"/var/jenkins_config/jenkins.yaml"},{"name":"ADMIN_PASSWORD","valueFrom":{"secretKeyRef":{"key":"ADMIN_PASSWORD","name":"jenkins-creds"}}}],"image":"jenkins/jenkins:lts-jdk17","livenessProbe":{"failureThreshold":5,"httpGet":{"path":"/login","port":8080},"initialDelaySeconds":90,"periodSeconds":10,"timeoutSeconds":5},"name":"jenkins","ports":[{"containerPort":8080,"name":"http-port","protocol":"TCP"},{"containerPort":50000,"name":"jnlp-port","protocol":"TCP"}],"readinessProbe":{"failureThreshold":3,"httpGet":{"path":"/login","port":8080},"initialDelaySeconds":60,"periodSeconds":10,"timeoutSeconds":5},"resources":{"limits":{"cpu":"1000m","memory":"2Gi"},"requests":{"cpu":"500m","memory":"512Mi"}},"volumeMounts":[{"mountPath":"/var/jenkins_home","name":"jenkins-home"},{"mountPath":"/var/jenkins_config","name":"jenkins-config"}]}],"securityContext":{"fsGroup":1000,"runAsUser":1000},"serviceAccountName":"jenkins-admin","volumes":[{"name":"jenkins-home","persistentVolumeClaim":{"claimName":"jenkins-pv-claim"}},{"configMap":{"name":"jenkins-jcasc-config"},"name":"jenkins-config"}]}}}}
  creationTimestamp: "2025-10-30T12:40:39Z"
  generation: 2
  labels:
    app: jenkins
  name: jenkins-deployment
  namespace: jenkins
  resourceVersion: "82705"
  uid: 06758ad4-6e25-4051-afed-e0d8a05b4f6f
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: jenkins
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: jenkins
    spec:
      initContainers:
      - name: init-permissions
        image: busybox
        command: ["sh", "-c", "chown -R 1000:1000 /var/jenkins_home"]
        volumeMounts:
        - name: jenkins-home
          mountPath: /var/jenkins_home
        securityContext:
          runAsUser: 0
      containers:
      - env:
        - name: JAVA_OPTS
          value: -Djenkins.install.runSetupWizard=false -Dhudson.security.csrf.GlobalCrumbIssuerConfiguration.DISABLE_CSRF_PROTECTION=true
        - name: CASC_JENKINS_CONFIG
          value: /var/jenkins_config/jenkins.yaml
        - name: ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              key: ADMIN_PASSWORD
              name: jenkins-creds
        image: jenkins/jenkins:lts-jdk17
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /login
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 90
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        name: jenkins
        ports:
        - containerPort: 8080
          name: http-port
          protocol: TCP
        - containerPort: 50000
          name: jnlp-port
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /login
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 60
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        resources:
          limits:
            cpu: "1"
            memory: 2Gi
          requests:
            cpu: 500m
            memory: 512Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /var/jenkins_home
          name: jenkins-home
        - mountPath: /var/jenkins_config
          name: jenkins-config
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        fsGroup: 1000
        runAsUser: 1000
      serviceAccount: jenkins
      serviceAccountName: jenkins
      terminationGracePeriodSeconds: 30
      volumes:
      - name: jenkins-home
        persistentVolumeClaim:
          claimName: jenkins-pv-claim
      - configMap:
          defaultMode: 420
          name: jenkins-jcasc-config
        name: jenkins-config
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2025-10-30T12:40:39Z"
    lastUpdateTime: "2025-11-04T10:09:43Z"
    message: ReplicaSet "jenkins-deployment-784f97f495" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2025-11-04T10:43:26Z"
    lastUpdateTime: "2025-11-04T10:43:26Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  observedGeneration: 2
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
